body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #ba2d2d;
}

header {
    background-color: #c7ccd4;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    color: rgb(42, 50, 161);
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #0044cc;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 5px 0;
}

a {
    color: #0044cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Projects */
.project {
    margin-bottom: 15px;
}

/* Contact Section */
.contact a {
    color: #0044cc;
}